# Automatically install fnm (Fast Node Manager) and the correct Node version. https://github.com/Schniz/fnm
use_fnm() {
  if ! command -v 'fnm' >/dev/null; then
    echo -e "\033[1;91m fnm (Fast Node Manager) is not installed. \033[0m"
    echo -e "\033[0;33m Refer to the fnm readme for instructions on how to install it on your system:\033[0m \033[1;4;37mhttps://github.com/Schniz/fnm?tab=readme-ov-file#installation \033[0m"
    return 1
  fi
  fnm use < .nvmrc
  command -v pnpm >/dev/null || corepack enable pnpm
  layout node # Add “$PWD/node_modules/.bin” to the PATH environment variable.
}

watch_file .nvmrc
use_fnm
